/*
PLUGIN:  WPForms
______________________________________________________________________
   
*/



/* Foot newsletter subscribe form */
.elsm-form-footer-sub .wpforms-field.wpforms-field-email {
  padding: 0;
  
}

.elsm-form-footer-sub button[type=submit] {
  width: 100%;
}