// COLORS:

/* Named Colors */

$clr-oxford-blue: #0E1C36;
$clr-robin-egg-blue: #00CAD0;
$clr-onyx: #373943;
$clr-amethyst: #9a6fd7;
$clr-seasalt: #f9fbfe;

/* Color Roles */

$primary: teal;
$secondary: $clr-oxford-blue;
$accent-primary: $clr-robin-egg-blue;
$accent-secondary: $clr-amethyst;
$text-base: $clr-onyx;

$dark: #666;
$light: #999999;